html{
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: rgb(60, 60, 60);
    font-family: 'Oxygen' sans-serif;
}



h1 {
    font-size: 50px;
    float: right;
    font-weight: 300;
}

h4 {
    float: left;
    font-size: 18px;
    margin-top: 21px;
}

h5 { font-size: 22px;font-weight: 100; }

p {
font-size: 15px;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px 100px;
    background: #F0F0F0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 20%
}
header.active {
    cursor: pointer;
}


#portfolio {
    display: table;
    margin: 0 auto;
    
    
}

#portfolio a {    
    border: 2px solid black;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 160px;
    height: 160px;
    transition: width linear 0.2s 0.2s, height linear 0.2s 0.2s, left linear 0.2s, top linear 0.2s, border-radius linear 0.2s 0.2s;
    /*transition: width linear 0.2s, height linear 0.2s, left linear 0.2s, top linear 0.2s, border-radius linear 0.2s;*/
    /*transition: width linear 0.2s 0.4s, height linear 0.2s 0.4s, left linear 0.4s, top linear 0.2s 0.4s, border-radius linear 0.2s 0.4s;*/
    /*transition: width linear 0.2s 0.2s, height linear 0.2s 0.2s, left linear 0.4s, top linear 0.2s 0.2s, border-radius linear 0.2s 0.2s;*/
    /*transition: width linear 0.2s, height linear 0.2s, left linear 0.2s, top linear 0.2s, border-radius linear 0.2s;*/
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

#portfolio a iframe {
    float: left;
    width: 500%;
    height: 300%;
    margin-left: -200%;
    margin-top: -100%;
    pointer-events: none;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


#portfolio a .resizer {
    float: left;
    display: none;
    position: relative;
    margin: 0 5px;
    width: 0;
    height: 100%;
    border-right: 5px solid black;
    cursor: e-resize;
}

#portfolio a.show {    
    width: 100%;
    height: 80%;
    left: 0;
    top: 20%;
    border-radius: 0;
    cursor: initial;
}

#portfolio a.show iframe {
    width: 50%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    pointer-events: auto;
}

#portfolio a.show iframe.active {
    pointer-events: none;
}

#portfolio a.show .resizer {    
    display: block;
}

#portfolio a:nth-child(1) {

   /*background: pink url("/Images/gp2.jpg") no-repeat center center;*/

}



/*First image*/
#portfolio a:nth-child(2) {

   background: pink url("/Images/gp2.jpg") no-repeat center center;

}

/*Third image*/
#portfolio a:nth-child(3) {

   background: pink url("/Images/gp2.jpg") no-repeat center center;

}