h1 {
	font-size: 60px;
}

section {
	height: 100vh;
	overflow: hidden;
}



section.overview {
	background-color: orange;
}

.content {
	position: relative;
	width: 90%;
	margin-left: 5%;
	top: 5%;
	height: 90%;
}



.circle {
	float: left;
	margin: 0 5%;
	width: 35%;
	padding-top: 35%;
	border-radius: 50%;
	background-color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,0.8);
	color: #fff;

}

.circle > div {
	position: absolute;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
}

.margin {
	float: left;
	height: 100%;
	margin-left: 5%;
	width: 5%;
	border-left: 4px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

.device {
	float: left;
	margin-left: 7.5%;
	margin-top: 2.5%;
	width: 30%;
	height: 90%;
	background-color: #fff;
	border-radius: 20px;
	box-sizing: border-box;
	border: 1px solid #666;
}

.device div {
	width: 90%;
	height: 82%;
	margin-left: 5%;
	margin-top: 12.5%;
	border: 1px solid #666;
	overflow: hidden;
	box-sizing: border-box;
}

.device img {
	width: 100%;
}