body {
	overflow-y: hidden;
}
header {
	height: 15vh;
	/*height: 120px;*/
	background-color: #ebebeb;
}
header h1{
	float: left;
	font: @font-family("Oxygen");
}
header div{
	position: relative;
	float: right;
	height: 100%;
	width: 15vh;
	overflow: hidden;
}
header div img{
	display: block;
	width: 75%;
	height: 75%;
	margin: 12.5%;
}
header div h5{
	text-align: middle;
	width: 75%;
	margin: auto;
}
section {
    height: 88vh;
}
section div.image {
	width: 72%;
	height: 100%;
	float: left;
}
section div.text {
	width: 28%;
	float: left;
}