


/*RESET ^*/

html, body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	/*background-color: #212121;*/
	/*background: url('code.JPG');*/
}


section	{
	overflow: auto;
	min-height: 100vh;
	/*margin-top: 200px;*/
	position: relative;
}


section:first-of-type {
	/*background-color: #f77648;
	border-bottom: 50px solid #212121;*/
	box-sizing: border-box;
	background-color: #212121;
	margin-top: 0;
	color: #fff;
}

h3 {
	font-size: 32px;
	font-style: italic;
	font-weight: normal;
}

h1.myName {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	font-size: 80px;
	font-weight: normal;
	margin: 0;
	vertical-align: middle;
}

/*h1.myName:after {
	content:  '{';
	font-size: 200px;
	line-height: 80px;
	margin-left: 50px;
}*/

section > div {
	position: relative;
	box-sizing: border-box;
	width: 50%;
	float: right;
	overflow: hidden;
}


/*LHS*/
section .detail {
	/*display: none;*/
	/*position: fixed;*/
	height: 100vh;
	background-color: #FF8DA1;
	color: #fff;
	position: absolute;
	top: 0;
}
section.stick .detail {
	position: fixed;
	top: 0;
	bottom: initial;
}
section.preStick .detail {
	position: absolute;
	top: 0;
	bottom: initial;
}
section.postStick .detail {
	position: absolute;
	bottom: 0;
	top: initial;
}

section h2 {
	font-size: 72px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: normal;
}

section .detail .info {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}


section .detail  .info .langs > span {
	line-height: 40px;
	margin: 3px;
	/*background-color: #fff;*/
	border: 2px solid #fff;
	/*color: #f77648;*/
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
	width: 60px
}


/*RHS*/
section .content {
	background-color: #fff;
	width: 50%;
	padding: 60px 5%;
	font-size: 18px;
}

.content p {
	margin: 60px auto;
}

#classic-collection .detail {
	background-color: #0053a0;
}

#adBuilder .detail {
	background-color: #b92025;
}


.detail > img {
	position: absolute;
	height: 100%;
	opacity: 0.1;
}

.links img {
	height: 24px;
	margin-right: 2px;
}

.links a {
	margin: 10px;
	color: #191617;
	font-weight: bold;
}

.links a * {
	vertical-align: middle;
}

a {
	text-decoration: inherit;
	color: inherit;
}